@import '../../styles/mixins.scss';

.posts {
  height: 1300px;
  padding: 120px 20px 120px 120px;
  display: flex;
  .postsTimeline {
    width: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    .postCircle {
      position: relative;
      height: 70px;
      width: 70px;
      margin: 10px 0;
      & > * {
        position: absolute;
      }
      circle.ringCircle {
        transition: stroke-dashoffset 0.35s;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        stroke-dasharray: 439.6 439.6;
        stroke-dashoffset: 282.6
      }
      .postCircleImg {
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  .postsGrid {
    padding: 0 20px;
    flex: 1;
    .postsCategory {
      height: 40px;
      span {
        line-height: 40px;
        font-weight: 600;
      }
    }
    .postsGridItems {  
      height: calc(100% - 40px);
      display: grid;
      grid-template-columns: 1.1fr 1.1fr .8fr;
      grid-template-rows: 1fr 1fr;
      gap: 30px 30px;
      grid-auto-flow: row;
      grid-template-areas:
        "main-item main-item ."
        "main-item main-item .";
      .postItem {
        &.mainPostItem {
          position: relative;
          grid-area: main-item;
          background-color: #fff;
          & > div {
            position: absolute; 
            left: 0;
            width: 100%;
          }
          .postTitle {
            display: inline-block;
            top: 0;
            z-index: 1;
            line-height: 250%;
            .titleLine {
              span {
                font-size: 55px;
                font-weight: bold;
              }
            }
          }
          .postInfo {
            top: 70px;
            left: -30px;
            z-index: 999;
            display: flex;
            justify-content: flex-end;
            div {
              position: relative;
              display: inline-flex;
              align-items: center;
              background-color: #fff;
              padding: 4px;
              border-radius: 25px;
              img {
                object-fit: cover;
                border-radius: 50%;
              }
              div {
                span {
                  font-size: 13px;
                  color: #999;
                  margin: 0 5px;
                  b {
                    color: #000
                  }
                }
              }
            }
            &.postDate {
              top: 120px
            }
          }
          .postImg {
            height: 100%;
            @include bg-cover('/images/case-1.jpg');
            clip-path: url(#svg_id_1);
          }
          .postExcerpt {
            bottom: -60px;
            padding: 10px;
            line-height: 130%;
            p {
              font-size: 21px;
              span {
                display: block;
              }
            }
            a {
              display: block;
              margin-top: 20px;
              font-weight: bold;
              color: #111;
              font-size: 15px;
            }
          }
        }
        &.sidePost {
          .postImg {
            height: 80%;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
              border-radius: 20px;
              object-fit: cover;
            }
          }
          .postTitle span {
            font-size: 20px;
          }
        }
      }
    }    
  }
}