.emailContact {
  background-color: #d1fb96;
  padding: 50px 20px;
  border-radius: 25px;
  .row {
    justify-content: space-between;
    > div {
      width: 40%;
    }
    .heading {
      span {
        font-size: 50px;
        letter-spacing: -3px;
        line-height: 100%;
      }
      & + div p {
        font-size: 19px;
      }
    }
  }

  .inputRow {
    margin-top: 160px;
    form {
      padding-top: 30px;
      border-top: 2px solid #94b861;
      display: flex;
      > div {
        width: 50%;
      }
      input {
        display: block;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 20px;
        &::placeholder {
          color: #94b861;
        }
      }
      input[type='text'] { width: 100%; }
      input[type='submit'] { cursor: pointer; }
    }
  }
  
}